apiVersion: v1
kind: Service
metadata:
  name: hodr
  namespace: fampay-dev
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: hodr
  sessionAffinity: None
  type: ClusterIP

