apiVersion: v1
kind: Service
metadata:
  namespace: fampay-dev
  name: bran
spec:
  selector:
    app: bran
  ports:
  - name: http
    port: 8000
    protocol: TCP
    targetPort: 8000
  type: ClusterIP

